{% extends "../../component.njk" %}

{% block component %}
  <div>
    <a href="{{ kwargs.url | default('/') }}">{{ kwargs.title }}</a>
  </div>
  {% if kwargs.feature %}
    <div>
      <img src="{{ kwargs.feature.image }}" alt="{{ kwargs.feature.description }}">
    </div>
  {% endif %}
{% endblock component %}
