{% macro classAttributeMacro(class) %}
  {%- include "./class-attribute.njk" -%}
{% endmacro %}

{% macro visuallyHiddenMacro(tag, content) %}
  {%- include "./visually-hidden.njk" -%}
{% endmacro %}
