{% from "./components/header/macros.njk" import "headerMacro" %}
<!doctype html>
<html lang="{{ htmlLang | default('en') }}" {%- if htmlClass -%}class="{{ htmlClass }}" {%- endif -%}>

<head>
  {# based on https://html5boilerplate.com/ #}
  <meta charset="utf-8">
  {% if headTitle %}<title>{{ headTitle }}</title>{% endif %}
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta http-equiv="X-UA-Compatible" content="{{ metaCompatible | default('IE=edge') }}">

  {% block headExtra %}{% endblock %}

  {% block headMeta %}{% endblock %}

  {% block headIcons %}
  <link rel="icon" href="{{ assetsPath | default('/assets') }}/images/favicon.ico" sizes="any">
  <link rel="icon" href="{{ assetsPath | default('/assets') }}/images/icon.svg" type="image/svg+xml">
  <link rel="apple-touch-icon" href="{{ assetsPath | default('/assets') }}/images/icon.png">
  {% endblock %}

  {% block stylesheets %}
  <link href="{{ assetsPath | default('/assets') }}/stylesheets/main.css" rel="stylesheet">
  {% endblock %}

  <meta name="theme-color" content="{{ metaThemeColor | default('#d16014') }}">
</head>

<body {%- if bodyClass -%}class="{{ bodyClass }}" {%- endif -%}>
  {% block bodyStart %}{% endblock %}

  {% block header %}
  <header {%- if headerClass -%}class="{{ headerClass }}" {%- endif -%}>
    {% block headerMain %}
    {{ headerMacro({}) }}
    {% endblock %}
    {% block headerNav %}{% endblock %}
    {% block headerSearch %}{% endblock %}
  </header>
  {% endblock %}

  {% block main %}
  <main {%- if mainClass -%}class="{{ mainClass }}" {%- endif -%} {%- if mainLang -%}lang="{{ mainLang }}" {%- endif
    -%}>
    {% block content %}{% endblock %}
  </main>
  {% endblock %}

  {% block footer %}{% endblock %}

  {% block bodyEnd %}{% endblock %}
</body>

</html>
