{% from "./components/header/macros.njk" import "headerMacro" %}
{% from "./components/nav/macros.njk" import "navMacro" %}
<!doctype html>
<html lang="{{ htmlLang | default('en') }}" {%- if htmlClass -%} class="{{ htmlClass }}" {%- endif -%}>

  <head>
    {# based on https://html5boilerplate.com/ #}
    <meta charset="utf-8">
    {% if headTitle %}
      <title>{{ headTitle }}</title>
    {% endif %}
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="{{ metaCompatible | default('IE=edge') }}">

    {% block headExtra %}{% endblock headExtra %}
    {% block headMeta %}{% endblock headMeta %}

    {% block headIcons %}
      <link rel="icon" href="{{ imagesPath | default('/assets/images') }}/favicon.ico" sizes="any">
      <link rel="icon" href="{{ imagesPath | default('/assets/images') }}/icon.svg" type="image/svg+xml">
      <link rel="apple-touch-icon" href="{{ imagesPath | default('/assets/images') }}/icon.png">
    {% endblock headIcons %}

    {% block stylesheets %}
      <link href="{{ stylesheetsPath | default('/assets/stylesheets') }}/main.css" rel="stylesheet">
    {% endblock stylesheets %}

    <meta name="theme-color" content="{{ metaThemeColour | default('#d16014') }}">
  </head>

  <body {%- if bodyClass -%} class="{{ bodyClass }}" {%- endif -%}>
    {% block bodyStart %}{% endblock bodyStart %}

    {% block header %}
      <header {%- if headerClass -%} class="{{ headerClass }}" {%- endif -%}>
        {% block headerMain %}
          {{ headerMacro({}) }}
        {% endblock headerMain %}
        {% block menu %}
          {{ navMacro({}) }}
        {% endblock menu %}
        {% block headerSearch %}{% endblock headerSearch %}
      </header>
    {% endblock header %}

    {% block main %}
      <main {%- if mainClass -%} class="{{ mainClass }}" {%- endif -%} {%- if mainLang -%} lang="{{ mainLang }}" {%- endif -%}>
        {% block content %}{% endblock content %}
      </main>
    {% endblock main %}

    {% block footer %}{% endblock footer %}

    {% block bodyEnd %}{% endblock bodyEnd %}
  </body>

</html>
