{% extends "../../component.njk" %}

{% from "../image/macros.njk" import imageMacro %}
{% from "../link/macros.njk" import linkMacro %}
{% from "../person/macros.njk" import authorMacro %}
{% from "../time/macros.njk" import timeMacro %}

{% block component %}
<article {%- if options.class -%} class="{{ options.class }}"{%- endif -%}>
  <header class="kdl-post-header">
    {% if options.addLink %}
      {% set html %}<h2>{{ data.title }}</h2>{% endset %}
      {{ linkMacro(data, { html: html }) }}
    {% endif %}
    {% if data.feature and data.feature.image %}
      {{- imageMacro(data.feature) -}}
    {% endif %}
  </header>
  <footer class="kdl-post-footer">
    by
    {% for person in data.collections.people | filter(data.authors, "data.id") %}
      {{- authorMacro(person) -}}
      {%- if not loop.last -%},{%- endif -%}
    {% endfor %}
    on
    {{ timeMacro(data.date) -}}
  </footer>
  {% set content = data[options.contentField] if options.contentField else data.content %}
  {{ content | safe }}
</article>
{% endblock component %}
