{% extends "../../component.njk" %}

{% from "../image/macros.njk" import imageMacro %}
{% from "../link/macros.njk" import linkMacro %}
{% from "../person/macros.njk" import authorMacro %}
{% from "../time/macros.njk" import timeMacro %}
{% from "../utils/macros.njk" import classAttributeMacro %}

{% block component %}
  <article {{- classAttributeMacro(options.class) -}}>
    <header>
      {% if data.feature and data.feature.image %}{{- imageMacro(data.feature) -}}{% endif %}
      {% if options.addLink or options.headerHtml %}
        <section>
          {% if options.addLink %}
            {% set html %}
            <h2>{{ data.title | safe }}</h2>
          {% endset %}
          {{ linkMacro(data, { html: html }) }}
        {% endif %}
        {{ options.headerHtml | safe }}
      </section>
    {% endif %}
  </header>

  {% if options.html %}
    {{ options.html | safe }}
  {% else %}
    {% set content = data[options.contentField] if options.contentField else data.content %}
    {{ content | safe }}
  {% endif %}

  {% if data.authors or data.date %}
    <footer>
      {% if data.authors %}
        by
        {% for person in data.collections.people | filter(data.authors, "data.id") %}
          {{- authorMacro(person) -}}
          {%- if not loop.last -%},{%- endif -%}
          {% endfor %}
        {% endif %}
        {% if data.date %}
          on
          {{ timeMacro(data.date) -}}
        {% endif %}
      </footer>
    {% endif %}

  </article>
{% endblock component %}
