{% extends "../../component.njk" %}

{% from "../image/macros.njk" import featureMacro %}
{% from "../link/macros.njk" import objLinkMacro %}
{% from "../person/macros.njk" import authorMacro %}
{% from "../time/macros.njk" import timeMacro %}

{% block component %}
<article {%- if options.class -%} class="{{ options.class }}"{%- endif -%}>
  <header class="kdl-post-header">
    {% if options.addLink %}
      {% set html %}<h2>{{ obj.title }}</h2>{% endset %}
      {{-
        objLinkMacro(obj, {
          html: html 
        })
      -}}
    {% endif %}
    {% if obj.feature and obj.feature.image %}
      {{- featureMacro(obj.feature) -}}
    {% endif %}
  </header>
  <footer class="kdl-post-footer">
    by
    {% for person in obj.collections.people | filter(obj.authors, "data.id") %}
      {{- authorMacro(person) -}}
      {%- if not loop.last -%},{%- endif -%}
    {% endfor %}
    on
    {{ timeMacro(obj.date) -}}
  </footer>
  {% set content = obj[options.contentField] if options.contentField else obj.content %}
  {{ content | safe }}
</article>
{% endblock component %}
