<figure class="kdl-feature-image">
  <img src="{{ feature.image }}" alt="{{ feature.description }}">
  <figcaption>
    {% if feature.title %}
      {{ feature.title }}
    {% else %}
      {{ feature.description }}
    {% endif %}
  </figcaption>
</figure>
