<figure class="kdl-feature-image">
  <img loading="lazy"
       src="{{ feature.image }}"
       alt="{{ feature.description }}">
  {% if feature.title %}<figcaption>{{ feature.title }}</figcaption>{% endif %}
</figure>
