<figure class="kdl-image">
  <img src="{{ data.image }}" alt="{{ data.description }}">
  <figcaption>
    {% if data.title %}
      {{ data.title }}
    {% else %}
      {{ data.description }}
    {% endif %}
  </figcaption>
</figure>
